html *{
    margin:0;
    padding:0;
}
body{
    background-color:#f6f6f6;
}

button {
    padding:5px 40px;
}

h1, h2{
    margin:0.5em 0;
}

p{
    margin-bottom:0.5em;
}

.clear{
    clear:both;
}

#wrap{
    width:960px;
    margin:0 auto;
    padding: 10px;
    background-color:#fff;
}
#wrap h1{
    padding:10px 0;
}

#nav li{
    float:left;
    display:inline-block;
}

#nav li a{
    display:block;
    padding:10px 40px;
    text-decoration:none;
    color:#00f;
}

#nav li a:hover{
    text-decoration:underline;
    background-color:#f6f6f6;
}